<h1>Cadastrar Usuário</h1>

<form action="/usuarios/add" method="POST">

    <input
        type="text"
        name="nome"
        placeholder="Nome">

    <input
        type="email"
        name="email"
        placeholder="Email">

    <input
        type="number"
        name="idade"
        placeholder="Idade">

    <button type="submit">
        Cadastrar
    </button>

</form>